@font-face {
    font-family: 'score';
    src: url(../font/SCDream4.otf);
}

html{ 
    font-family: 'score';
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.line-button {
    border: 1px solid #222;
    background-color: transparent;
    padding: 6px 16px;
    box-sizing: border-box;
    font-size: 16px;
    color: #222;
    cursor: pointer;
}

.white-line-button {
    border: 1px solid #fff;
    color: #fff;
}

header {
    width: 100%;
    height: 100px;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    color: #222;
    z-index: 5;
}

.header-container {
    width: 1770px;
    height: 56px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    border-radius: 50px;
    box-sizing: border-box;
}

.logobox {
    width: 130px;
}

.header-menu {
    display: flex;
    gap: 30px;
}

.header-menu a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
}

.header-right {
    display: flex;
    gap: 5px;
}

.search-icon {
    width: 30px;
}

section {
    width: 100%;
    overflow: hidden;
}
#main{
    width: 100%;
    height: 980px;
}

.glowplay-container {
    display: flex;
}

.glowplay-work {
    position: relative;
}

.glowplay-img{
    width: 960px;
    height: 980px;
    border-radius: 2px;
    overflow: hidden;
}

.glowplay-img img {
    height: 100%;
    transition: transform 1s ease-in-out, filter 1s ease-in-out;
}

.glowplay-work:hover img {
    transform: scale(1.2);
    transform-origin: center;
    filter: brightness(10%);
    transition: transform 1s ease-in-out, filter 1s ease-in-out;
}

.glowplay-contents {
    display: flex;
    flex-direction: column;
    gap: 70px;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    line-height: 130%;
}

.glowplay-title {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.glowplay-title h2 {
    font-size: 24px;
}

.glowplay-contents button {
    border: 1px solid #fff;
    color: #fff;
    height: 50px;
}

.glowplay-work:hover .glowplay-contents {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#recommendation {
    width: 100%;
}

.recommend-carousel {
    position: relative;
    overflow: hidden;
}

.recommend-container {
    display : flex
}

